*{
    margin: 0;
    padding: 0;
}
input{
    border:none;
}
.inputBox{
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 200px;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}
.inputs{
    display: flex;
    flex-direction: column;
}
button{
    width: 70px;
    background-color: black;
    color: white;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.main-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
